{%extends 'patient_layout.html'%}
{%block content%}
<br><br><br>
<center>
<iframe width="960" height="515" src="https://www.youtube.com/embed/nV4u58aVAF8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>

<iframe width="960" height="515" src="https://www.youtube.com/embed/fjB3kCRVcGs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>
<iframe width="960" height="515" src="https://www.youtube.com/embed/LjF9IqvXDjY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>
<iframe width="960" height="515" src="https://www.youtube.com/embed/emm0uGDGg2o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>

</center>
<br><br><br>
{%endblock %}