{%extends 'admin_layout.html'%}
{%block content%}
<div class="banner-bottom">
	<div class="container">
		<div class="inner_sec_info_agileits_w3">
		  <h1 class="heading-agileinfo">Feedbacks</h1>
<!-- 
<div class="breadcrumb-bg w3l-inner-page-breadcrumb py-5">
	<div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
	  <h2 class="title pt-5">Feedbacks</h2>
	  <ul class="breadcrumbs-custom-path mt-3 text-center">
		<li><a href="/adminpage">Home</a></li>
 <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> View Patient </li> -->
	  <!-- </ul>
	</div> -->
  <!-- </div> -->




    <div id="products"   >
        {%for i in obj%}

                <div  class="item col-xs-4 col-lg-4" style="  width: 1200px;">
                    <div class="thumbnail card"style=" width: 1200px;">
                        <div class="img-event" style="  width: 1200px;">
                            <img class="group list-group-image img-fluid"   src="http://placehold.it/400x250/000/fff" alt="" />
                        </div>
                          

                        <div class="caption card-body" style=" width: 1200px;">
                            <h4 class="group card-title inner list-group-item-heading">
                                {{i.name}}</h4>
                            <p class="group inner list-group-item-text">
                                {{i.email}}</p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
										{{i.text}}</p>
                                        <p class="lead">
                                            {{i.number}}</p>    
                                </div>
                       
                            </div>
                        </div>
                      
                    </div>
                </div>
                {%endfor%}
                
            </div>
</div> 

</div>
</div>


 
<style>
	.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 1000%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 1000%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}
</style>
<br>
 <br><br>
 <br>
{%endblock%}



















