{%extends 'layout.html'%}
{%block content%}
<br>
<br>
<div class="banner-bottom">
	<div class="container">
		<div class="inner_sec_info_agileits_w3">
		  <h1 class="heading-agileinfo">Login</h1>
     
<!--                 
     <div  style="margin-left: 600px;"><h1><b>Login</h1></b>
    </div> -->
      <div class="main" style="margin-top: -100px;" >
         <div class="col-md-6 col-sm-12" style="margin-top: 50px;" >
            <div class="login-form" style="margin-top: 50px;" >
               <form method="post" >
                {%if d%}<h4>{{d}}<br></h4>{%endif%}
                  <div class="form-group" style="margin-top: 50px;" >
                     <label>EMail</label>
                     <input type="email" name="email" class="form-control" placeholder="Email ID">
                  </div>
                  <div class="form-group" >
                     <label>Password</label>
                     <input type="password" name="password" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" style="margin-left: 120px;" class="myButton">Login</button>
                  <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
               </form>
            </div>
         </div>
      </div>
      <br>
      <br><br>


      <!-- <div class="position-relative">
        <div class="shape overflow-hidden">
          <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
          </svg>
        </div>
      </div> -->
      <style>

        body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: rgb(243, 1, 1);
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
      </style>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{%endblock%}