{%extends 'patient_layout.html'%}
{%block content%}
<br><br><br>
<center>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/siX6d2aRwuM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<br><br><br>
<iframe width="960" height="515" src="https://www.youtube.com/embed/Bm48lOWNpBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>


<iframe width="960" height="515" src="https://www.youtube.com/embed/hraTNj9Au-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>
<iframe width="960" height="515" src="https://www.youtube.com/embed/w3lDbNGGMPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>
<iframe width="960" height="515" src="https://www.youtube.com/embed/ZYMzSIkpUr8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>





</center>
<br><br><br>
{%endblock %}