
{%extends 'patient_layout.html'%}
{%block content%}
<br><br><br>
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->



<div class="container" >
    
    

					     <h2 class="text-center mt-5"><b><u>SONGS</u></b></h2>
					    <div class="row" style="margin-left:350px;">
					        <div class="col-md-6 offset-md-3 text-center">
					            <div class="buttons_cont mt-5">
					                <a href="/mal"><button class="btn left-background"><b>Malayalam </b></button></a>
					            	<a href="/eng"><button class="btn right-background"><b>English </b></button></a><br>
					            	<a href="/hin"><button class="btn bottom-background"><b>Hindi </b></button></a>
					            	<a href="/tamil"><button class="btn top-background"><b>Tamil </b></button></a>
					            </div>
					        </div>
					    </div>
                   
 					</div>
                    

                    <style>
                        
             

.buttons_cont{
	box-shadow: 1px 2px 2px 2px #efefef;
	padding:3em;
}

.left-background{
    background: linear-gradient(to left, aquamarine 50%, white 50%);
    background-size: 200% 100%;
    background-position:left ;
    margin-left:10px;
    transition:all 0.2s ease;
    /* border:1px solid aquamarine ; */
    border-radius:18px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
}

.left-background:hover,.left-background:focus{
	 background-position: right;

}

.right-background{
    background: linear-gradient(to right, aquamarine 50%, white 50%);
    background-size: 200% 100%;
    background-position:right;
    margin-left:10px;
    transition:all 0.2s ease;
    /* border:1px solid aquamarine ; */
    border-radius:18px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
}

.right-background:hover{
	background-position: left;
}

.bottom-background{
    background: linear-gradient(to bottom, aquamarine 50%, white 50%);
    background-size: 100% 200%;
    background-position:bottom;
    margin-left:10px;
    transition:all 0.2s ease;
    /* border:1px solid aquamarine ; */
    border-radius:18px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
}

.bottom-background:hover{
	background-position: top;
}

.top-background{
    background: linear-gradient(to top, aquamarine 50%, white 50%);
    background-size: 100% 200%;
    background-position:top;
    margin-left:10px;
    transition:all 0.2s ease;
    /* border:1px solid aquamarine ; */
    border-radius:18px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
}

.top-background:hover{
	background-position: bottom;
}  
                    </style>
                    <center><h1>How music heals us...</h1><br><br>
                        <p>
                        Music Therapy helps to improve a person's physical, mental, emotional, social and spiritual health through the kind of music he/she prefers. Lengthy studies have demonstrated the effect of music on motor skills, cognitive functioning, social skills, emotional quotient, and the general quality of life.
                        
                        Music therapy involves using a person’s responses and connections to music to encourage positive changes in mood and overall well-being. Music therapy can include creating music with instruments of all types, singing, moving to music, or just listening to it.
                        
                        Music has powerful effects on the mind. Different styles of music can have a significant effect on a person’s mood very quickly, and it can help them experience and process a wide range of emotions, from happiness to excitement, as well as sadness, calmness, and thoughtfulness.
                        
                        Making music can also be as beneficial as listening to music, and music therapy encourages people to actively create the music they find helpful to them.
                        
                        This article explains what music therapy is, how it can help improve mental health, and its effects on different mental health conditions.
                        </p><br><br>
                        <h2>Benefits</h2><br><br>
                        <p>
                        There are extra benefits to listening or creating music that talking therapies may not be able to offer.
                        
                        For instance, learning and practicing a piece of music can improve memory skills, coordination, reading, comprehension, and math skills, and it can also give lessons in responsibility and perseverance.
                        
                        People can also enjoy a great sense of achievement from creating a piece of music, which can help improve their mood and self-esteem.
                        
                        Music therapy can also introduce people to many different cultures, as clients can explore any type and genre of music during therapy. Understanding the history behind a piece of music can help people connect with the music they are hearing or playing.
                        
                        Although self-expression is a part of talking therapy, music therapy allows people to express themselves in a creative way, which can be a more enjoyable way of exploring difficult emotions.
                        
                        Lyric analysis is another accessible way for people to explore and process difficult emotions, experiences, or memories through music.
                        
                        For example, a person can find themes and meanings within lyrics and offer alternative lyrics that apply to their life and experiences, which can help them find the words that represent how they are feeling if they are finding it hard to express this themselves.
                        
                        Some of the documented benefits of music therapy include:
                        
                        -improved self-esteem
                        -decreased anxiety
                        -increased motivation
                        -successful and safe emotional release
                        -increased verbalization
                        -stronger connections with other people
                        </p><br><br>
                        
                        <h2>How it helps with anxiety</h2><br><br>
                        <p>
                        Many studies suggest that music therapy can reduce feelings of anxiety, including in people with cancerTrusted Source, those undergoing surgery, and individuals going into intensive care units. Some studies also suggest that music can reduce blood pressure and the heartbeat, which can have a direct impact on how stressed a person feels.
                        
                        There is also evidence to suggest that those undergoing music therapy experience reduced anxiety immediately after the session, which indicates that music therapy could be a convenient way to reduce symptoms quickly.
                        
                        Music affects the amount of stress hormones, such as adrenaline and cortisol, that the body releases, and reducing these hormones can help relieve symptoms of anxiety.
                        
                        </p><br><br>
                        <h2></h2>How it helps with depression</h2><br><br>
                        <p>
                        Studies suggest that music therapy can improve symptoms of depression, with those undergoing music therapy along with standard treatments for depression — such as talking therapy — improving more than people who only received standard therapy.
                        
                        Listening to music can also release dopamine, which is a hormone that makes people feel good, and endorphins, which are hormones that can induce happy moods and relieve pain.
                        
                        Although music therapy is not a cure for depression, it can offer short-term benefitsTrusted Source by improving mood and encouraging connection and self-expression.
                        </p><br><br>
                        
                        <h2>In children</h2><br><br>
                        <p>
                        Some of the benefits of music therapy for children include:
                        
                        -offering fun ways of expressing thoughts and feelings
                        -practicing social interaction and communication skills
                        -encouraging creative play
                        -improving concentration and coordination
                        -increasing self-awareness
                        -increasing awareness of other people, particularly in group music sessions
                        -building self-esteem and resilience
                        -building language and listening skills
                        -strengthening family relationships
                        
                        </p><br><br>
                        </center>
                        <br><br><br>
{%endblock %}