{%extends 'patient_layout.html'%}
{%block content%}
<br><br><br>
<center>
<iframe width="960" height="515" src="https://www.youtube.com/embed/Mz-zxowOj_k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>
<iframe width="960" height="515" src="https://www.youtube.com/embed/paDG3S3UmQM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>
<iframe width="960" height="515" src="https://www.youtube.com/embed/KUN5Uf9mObQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>
<iframe width="960" height="515" src="https://www.youtube.com/embed/S4v76-7wAYw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>

<br><br><br>






</center>
<br><br><br>
{%endblock %}