
{%extends 'patient_layout.html'%}
{%block content%}
<br><br><br>
<div class="banner-bottom">
    <div class="container" style="margin-left: 50px;">
        
        <div class="inner_sec_info_agileits_w3">
            <div class="col-md-4 grid_info">
                <div class="icon_info">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Sxddnugwu-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <h5>Nutrition Reference</h5>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                    <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a> -->
                </div>
            </div>
            <div class="col-md-4 grid_info">
                <div class="icon_info">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/v7SN-d4qXx0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/Bm48lOWNpBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    <!-- <h5>Injury Prevention</h5>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                    <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a> -->
                </div>
            </div>
            <div class="col-md-4 grid_info">
                <div class="icon_info">
                    <iframe width="450" height="315" src="https://www.youtube.com/embed/JoDKbXEUrvQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <h5>Catheterization Lab</h5>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                    <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a> -->
                </div>
            </div>
            <div class="col-md-4 grid_info">
                <div class="icon_info">
                    <iframe width="860" height="315" src="https://www.youtube.com/embed/ILRqYb4ZPrk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <h5>Catheterization Lab</h5>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                    <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a> -->
                </div>
            </div>
            <div class="col-md-4 grid_info">
                <div class="icon_info">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6OOCR5uNp7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <h5>Catheterization Lab</h5>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                    <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a> -->
                </div>
            </div>



            <!-- <div class="col-md-4 grid_info">
                <div class="icon_info">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6OOCR5uNp7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/6OOCR5uNp7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    <!-- <h5>Catheterization Lab</h5>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                    <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a> -->
                <!-- </div>
            </div> -->
            <div class="col-md-4 grid_info">
                <div class="icon_info">
                    <iframe width="450" height="315" src="https://www.youtube.com/embed/sFtP0HWvu0k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/6OOCR5uNp7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    <!-- <h5>Catheterization Lab</h5>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                    <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a> -->
                </div>
            </div>
            <div class="col-md-4 grid_info">
                <div class="icon_info">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6ijg6tpyxXg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/6OOCR5uNp7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    <!-- <h5>Catheterization Lab</h5>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                    <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a> -->
                </div>
            </div>
            <div class="col-md-4 grid_info">
                <div class="icon_info">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/N2wR1OWhD4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/6OOCR5uNp7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    <!-- <h5>Catheterization Lab</h5>
                    <p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
                    <a href="#" class="read-agileits" data-toggle="modal" data-target="#myModal">Read More</a> -->
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


<br><br><br>
{%endblock %}